[submodule "astrowind"]
	path = astrowind
	url = git@github.com:thedissenter/astrowind.git
	branch = .
[submodule "incharge-podcaster"]
	path = incharge-podcaster
	url = git@github.com:thedissenter/incharge-podcaster.git
	branch = .
