[submodule "astrowind"]
	path = astrowind
	url = git@github.com:incharge/astrowind.git
	branch = .
[submodule "incharge-podcaster"]
	path = incharge-podcaster
	url = git@github.com:/incharge-podcaster.git
	branch = .
